<assembly>
    <id>config</id>
    <baseDirectory/>
    <formats>
        <format>zip</format>
    </formats>
    <fileSets>
        <!-- copy directories -->
        <fileSet>
            <outputDirectory/>
            <directory>config</directory>
            <excludes>
                <exclude>examples/template.bat</exclude>
                <exclude>examples/template.sh</exclude>
            </excludes>
        </fileSet>
        <!-- generate launcher scripts -->
        <fileSet>
            <outputDirectory>examples</outputDirectory>
            <directory>build/examples</directory>
            <lineEnding>unix</lineEnding><!-- fixme: does not work when build is launched by parent project -->
            <fileMode>0755</fileMode>
        </fileSet>
    </fileSets>
</assembly>